@page "/"

<PageTitle>Home</PageTitle>

<h1>Платформа для проведения мероприятий!</h1>

Функционал платформы позволяет создавать мероприятия, приглашать на них участников, а также просматривать мероприятия других пользователей.
P.S. Платформа все ещё в разработке, поэтому полноценного флоу для желающих посетить мероприятия или для организаторов пока нет. 
Речь скорее об отдельных фичах, которые уже реализованы и работают.